/* Universal Styles */
* {
    box-sizing: border-box;
}

/* Main Content Area Styles */
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: verdana, sans-serif;
}

body h1 {
    font-size: 50px;
    font-weight: normal;
}

.cta a {
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: grey;
    font-size: 21px;
}

/* Footer Area */
#foot {
    text-align: right;
    color: grey;
}